*{
    margin: 0;
    padding: 0;
    color: #191c1f;
    box-sizing: border-box;
    font-family: Calibri, sans-serif;
}
a{
    font-weight: lighter;
    color: #9ba8b1;
    text-decoration: none;
}
p{
    margin: 7px;
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70vh;
    font-family: Calibri, sans-serif;
    align-items: center;
    background-color: #f4f5f7;
}

header {
    display: flex;
    width: 100%;
    height: auto;
    padding-bottom: 25px;
    box-shadow: 0 3px 5px -2px rgba(0,0,0,0.75);
    background-color: #ffffff;
    margin-bottom: 70px;
    align-items: baseline;
}
.logo {
    display: flex;
    width: auto;
    height: 50px;
    margin-left: 90px;
    font-size: 22px;
    padding-top: 20px;
}
.menu {
    display: flex;
    width: auto;
    height: 50px;
}
.menu ul{
    display: flex;
    width: auto;
    height: auto;
    margin-left: 30%;
    padding-top: 20px;
}
.menu ul li {
    margin-left: 120px;
    list-style: none;
    font-size: 18px;

}
.phpForm{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.form{
    display: flex;
    margin-top: 150px;
    flex-direction: column;
    width: 350px;
    justify-content: center;
}
input {
    margin: 7px 0;
    padding: 7px;
    border: none;
    border-bottom: 2px solid #e2e2e2;
    outline: none;
}
button{
    padding: 10px;
    background: #e2e2e2;
    border: none;
    cursor: pointer;
}
.msg{
    border: 2px solid #e23700;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
}
.logout{
    background: #e2e2e2;
    width: 60px;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    padding: 7px;
    align-self: flex-end;
}
.mainContainer{
    height: auto;
    background-color: #ffffff;
    display: flex;
    width: 980px;
    justify-content: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.profile{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.homeForm{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.login {
    width: 100%;
    font-weight: normal;
    margin-bottom: 20px;
}

.data {
    align-self: center;
    margin-bottom: 50px;
}
.addNews{
    height: auto;
    background-color: #ffffff;
    width: 980px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-radius: 5px;
}

.addNews label textarea{
    resize: none;
    width: 100%;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.addNews label{
    width: 90%;
    display: block;
    cursor: pointer;
    border: none;
}

.formNews .file{
    width: 32px;
}

.formNews label{
    height: auto;
    width: 400px;
    border: none;
}

.formNews{
    width: 70%;
    display: flex;
    align-items: end;
}

.news{
    width: 980px;
    background-color: #ffffff;
    margin-top: 50px;
    border-radius: 5px;
    padding: 20px;
}

.postImg{
    max-width: 100%;
}

.pages{
    align-items: center;
    margin-top: 10px;
}

.pages a{
    color: #191c1f;
    font-size: 20px;
    font-weight: normal;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}